@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app{
  &__logo{
    animation: logo-spin infinite 20s linear;
    height: 160px;
  }
  &__header {
    text-align: center;
    background-color: #222;
    height: 300px;
    padding: 40px;
    color: white;
    a{
      color:#fff;
      text-decoration: none;
      margin: 0 20px;
      &.active{
        font-size: 1.2em;
      }
    }
  }
  &__intro {
    font-size: large;
  }
}