body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

[data-dpr="1"] body {
  font-size: 12px !important;
}

[data-dpr="2"] body {
  font-size: 24px !important;
}

[data-dpr="3"] body {
  font-size: 36px !important;
}
